# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./secret.sops.yaml
configMapGenerator:
  - name: tandoor-nginx-configmap
    files:
      - ./config/nginx.conf
generatorOptions:
  disableNameSuffixHash: true
