apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vaultwarden
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      vaultwarden:
        labels:
          postgres: "true"
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
            envFrom: &envFrom
              - secretRef:
                  name: vaultwarden-secret
        containers:
          app:
            image:
              repository: ghcr.io/dani-garcia/vaultwarden
              tag: 1.35.2@sha256:d89a6d21e361254670c24a4272b4b5f245e402c284f2f55de2c379fdbcfa1fa5
            env:
              TZ: Europe/Oslo
              DATA_FOLDER: "/data"
              DOMAIN: https://passord.${SECRET_DOMAIN}
              SIGNUPS_ALLOWED: true
              SHOW_PASSWORD_HINT: true
              # SMTP_FROM: bitwarden@${SECRET_DOMAIN}
              # SMTP_FROM_NAME: Bitwarden
              # SMTP_HOST: smtp-relay.networking.svc.cluster.local
              # SMTP_SECURITY: "off"
              # SMTP_PORT: 2525
            envFrom: *envFrom
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        annotations:
          tailscale.com/expose: "true"
        controller: *app
        ports:
          http:
            port: &port 80
    route:
      app:
        hostnames: ["passord.${SECRET_DOMAIN}", "bitwarden.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /data
