apiVersion: v1
kind: Service
metadata:
  labels:
    cnpg.io/cluster: immich
  name: immich-external
spec:
  internalTrafficPolicy: Cluster
  ipFamilyPolicy: SingleStack
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: immich
    cnpg.io/instanceRole: primary
  type: LoadBalancer
