# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: adguard-home
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      adguard-home:
        containers:
          app:
            image:
              repository: adguard/adguardhome
              tag: v0.107.71@sha256:92929135ced2554aaf94706f766a98ad348f211df61b0704e2db7e8498cc00b7
            env:
              TZ: Europe/Oslo
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                port: 80
                path: /login.html
              readiness: *probe
              startup:
                !!merge <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
            # readOnlyRootFilesystem: true
            # runAsUser: 65534
            # runAsGroup: 65534
            # allowPrivilegeEscalation: false
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    service:
      app:
        type: LoadBalancer
        sessionAffinity: ClientIP
        annotations:
          tailscale.com/expose: "true"
          lbipam.cilium.io/ips: 192.168.1.50
        ports:
          dns-tcp:
            port: 53
            protocol: TCP
          dns-udp:
            port: 53
            protocol: UDP
          http:
            port: 80
    route:
      app:
        hostnames:
          - "adguard.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          adguard-home:
            app:
              - path: /opt/adguardhome/conf
                subPath: conf
              - path: /opt/adguardhome/work
                subPath: work
