# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-server
spec:
  interval: 1h
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  values:
    controllers:
      immich-server:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0
            envFrom: &dbEnvFrom
              - secretRef:
                  name: immich-secret
          02-init-extensions:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0
              pullPolicy: IfNotPresent
            envFrom: *dbEnvFrom
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.2
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                gpu.intel.com/i915: 1
                memory: 3000Mi
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-config
                  # env:
                  #   DB_URL:
                  #     valueFrom:
                  #       secretKeyRef:
                  #         name: immich-database-pguser-immich
                  #         key: uri
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        annotations:
          tailscale.com/expose: "true"
        controller: immich-server
        ports:
          http:
            port: 80
            targetPort: 2283
    route:
      main:
        hostnames: ["bilder.${SECRET_DOMAIN}", "immich.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    persistence:
      data:
        enabled: true
        type: nfs
        server: 192.168.1.10
        path: /mnt/wolf/immich
        globalMounts:
          - path: /usr/src/app/upload
            readOnly: false
      matplotlib:
        type: emptyDir
        advancedMounts:
          immich-server:
            main:
              - path: /config/matplotlib
      external-library:
        type: nfs
        server: 192.168.1.10
        path: /mnt/wolf/bilder
        globalMounts:
          - path: /mnt
            readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          immich-server:
            main:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding
              - path: /usr/src/app/.transformers_cache
                subPath: transformers
